<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.okcredit.startup_instrumentation">

    <application>

        <provider
            android:name="tech.okcredit.startup_instrumentation.internals.AppStartContentProvider"
            android:authorities="${applicationId}.appStartProvider"
            android:initOrder="2147483647"
            android:exported="false" />

    </application>

</manifest>